* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #ef9eaf;
    color: white;
}

ol, li {
    background-color: #c66377;
}

li {
    padding: 10px;
}

span {
    padding: 10px 20px 10px;
    background-color: #9f354b;
}