html {
    font-family: Arial, Helveticas, sans-serif;
    background: whitesmoke;
}

h1, h3 {
    text-align: center;
}

pre {
    font-size: 16px;
    background: lightgray;
}

.red-tag {
    color: darkred;
    background: lightgray;
    font-size: 16px;
    font-family: monospace;
}

.tags {
    color: aqua;
    background: lightgray;
}